.form {
    display: block;
    margin: auto;
    margin-top: 100px;
    height: 70%;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background-color: $white;
    max-width: 450px;
    padding: 4em 3em;
    border-radius: 5px;
    box-shadow:  20px 20px 60px $lightgray,
                -20px -20px 60px #ffffff;


    .formTitle {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }

    .formContainer {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;

        .formItems {
            position: relative;
            color: #050505;

            .formInput {
                width: 100%;
                background: none;
                color: #212121;
                border: none;
                outline: none;
                border-bottom: 1px solid #050505;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 500;
                padding: .3em;
                margin: 1em 0;
                }
        }

        .formSubmit {
            background: #212121;
            color: #F2F3F4;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            font-weight: 500;
            padding: .5em 0;
            border: none;
            border-radius: 5px;
            margin-top: 1em;
        } 
    }
}


