.hero {
    background-image: url("../img/Espalda.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    background-color: $black;

    @include breakpoint(md) {
        background-size: contain;
        height: 40vh;
    }


    h1 {
        color: $white;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        margin-top: 2em;
        font-weight: 10;

        @include breakpoint(md) {
            font-size: 35px;
            font-weight: 10;
        }
    }
}
.container_atajos {
    @include center-content;

    @include breakpoint(md) {
        flex-direction: column;
        align-items: center;
    }

    .atajo {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
    }
    .atajo__figure {
        cursor: pointer;
        position: relative;

        .atajo__figure-capa {
            position: absolute;
            top: 0;
            width: 400px;
            height: 400px;
            background: $transparent;
            opacity: 0;
            visibility: hidden;
            align-items: center;
            border-radius: 10px;

            @include breakpoint(md) {
                position: absolute;
                width: 250px;
                height: 250px;
                background: $transparent;
                opacity: 0;
                visibility: hidden;
                align-items: center;
                border-radius: 10px;
            }
        }
        .atajo__figure-img {
            background-color: $black; 
            width: 400px;
            height: 400px;
            border-radius: 10px;
            align-items: center;
            box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
            0.3em 0.3em 1em rgba(0,0,0,0.3);

            @include breakpoint(md) {
                background-color: $black;
                width: 250px;
                height: 250px;
                align-items: center;
                border-radius: 10px;
                align-items: center;
                box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
            }
        }
    } 
}


.atajo__figure:hover> .atajo__figure-capa {
    opacity: 1;
    visibility: visible;
}

.atajo__figure:hover> .atajo__figure-capa h3 {
    text-align: center;
    margin-top: 180px;
    color: #F2F3F4;
    font-family: 'Roboto', sans-serif; 
    font-size: 40px;

    @include breakpoint(md) {
        text-align: center;
        margin-top: 110px;
        color: #F2F3F4;
        font-family: 'Roboto', sans-serif; 
        font-size: 20px;
    }
}
