.hero {
    background-image: url("../img/Espalda.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: $black;
    margin-bottom: 2em;

    @include breakpoint(sm) {
        height: 60vh;
    }

    h1 {
        color: $white;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        font-weight: 50;
        margin-top: 2em;

        @include breakpoint(md) {
        font-size: 50px;
        font-weight: 300;  
        }

        @include breakpoint(sm) {
            font-size: 30px;
            font-weight: 300;
            margin-top: 0.5em;
        }
    }
}
.container_atajos {
    @include center-content;
    margin-bottom: 2em;

    @include breakpoint(md) {
        flex-direction: column;
        align-items: center;
    }

    .atajo {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        
    }

    .atajo__figure {
        cursor: pointer;
        position: relative;

        .atajo__figure-capa {
            position: absolute;
            top: 0;
            width: 400px;
            height: 400px;
            background: $transparent;
            opacity: 0;
            visibility: hidden;
            align-items: center;

            @include breakpoint(md) {
                width: 250px;
                height: 250px;
                visibility: visible;
                opacity: inherit;
                background: $black;

                h3 {
                    text-align: center;
                    margin-top: 100px;
                    color: $white;
                    font-family: 'Roboto', sans-serif; 
                    font-size: 30px;
                    font-weight: 100;
                }
            }

        }
        .atajo__figure-img {
            background-color: $black; 
            width: 400px;
            height: 400px;
            align-items: center;
            box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
            0.3em 0.3em 1em rgba(0,0,0,0.3);

            @include breakpoint(md) {
                width: 250px;
                height: 250px;
            }
        }
    } 
}


.atajo__figure:hover> .atajo__figure-capa {
    opacity: 1;
    visibility: visible;
}

.atajo__figure:hover> .atajo__figure-capa h3 {
    text-align: center;
    margin-top: 170px;
    color: $white;
    font-family: 'Roboto', sans-serif; 
    font-size: 50px;
    font-weight: 300;

    @include breakpoint(md) {
        margin-top: 60px;
        font-size: 20px;
        color: $lightgray;
    }

    @include breakpoint(sm) {
        margin-top: 50px;
        font-size: 25px;
    }
}
