$white:#F2F3F4 ;
$lightgray:#CCD1D1 ;
$gray: #707B7C;
$darkgray: #424949;
$black: #050505;
$transparent:rgba(56, 61, 63, 0.6);

$texts:
    "h1"    2.5rem  600     1.5,
    "h2"    2rem    300    1.5,
    "h3"    1rem    bold    1.5,
    "p"     1rem  250;

$breakpoints: (
    sm: 480px,
    md: 768px,
    lg: 992px,
);
