@import "../base/generales";
@import "../base/variables";
@import "../base/mixins";



.footer {
    background-color: $black;
    @include center-content;
    flex-direction: column;
    color:	$white;
    text-decoration: none;

        &__h2 {
            margin-top: 10px;
        }
        &__p {
            font-size: $texts;
        } 
        &__iconos{
            list-style: none;
            a {
                text-decoration: none;
                .icono {
                    font-size: 30px;
                    color:	$white;
                    padding: 0 .5em;
                    margin-bottom: .3em;
                }
                i:hover {
                    color: $darkgray
                }
            }
        }
}
