
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100&display=swap');



    * {
        padding: 0;
        margin: 0;
    }
    
    .margin {
        max-width: 1150px;
        margin: 0 auto;
    }
 
    #body {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: "header"
                              "main"
                             "footer";
    
       background-color: #050505;
       min-height: 100vh;
    }

    header {
        grid-area: header;
        width: 100%;
        display: flex;
        align-items: center;
        height: 6em;
        flex-wrap: wrap;
        background-color: #F2F3F4; 
    }
    
    main {
        width: 100%;
        grid-area: main;
    }
    
    footer {
        grid-area: footer;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em 0 1em 0;
        margin: auto;
        width: 100%;
        color:	#212121;
        text-decoration: none;
        font-family: 'Abel', sans-serif;
        background-color: #fdfdff;
    }

/*--------------------mobile--------------------*/

    /*---------------------GENERAL---------------------*/

    @media screen and (max-width:480px) {

    #body {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: "header"
                            "main"
                            "footer";
    
        background-color: #050505;
        min-height: 100vh;
    }

    .headerMobile {
        grid-area: header;
        display: flex;
        width: 100%;
        height: 120px;
        background-color: #F2F3F4;
    }

    .menuMobile {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        font-family: 'Abel', sans-serif; 
    }

    .liMobile a {
        text-decoration: none;
        color: #212121;
        font-size: 1em;
    }


    .headerDesktop {
            display: none;
    }

    /*---------------------INICIO---------------------*/
    .mainDesktop {
        display: none;
    }

    /*---------------------CONTACTO---------------------*/

    .form {
        display: none;
    }

    .formMobile {
        display: block;
        position: absolute;
        margin: auto;
        width: 90%; 
        height: 50%;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background-color: #F2F3F4;
        max-width: 300px;
        padding: 2em 1em;
        border-radius: 5px;
    }

    .formTitleMobile {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: .8em;
    }

    .formContainerMobile {
        margin-top: 1em;
        display: grid;
        gap: .8em;
    }

    .formItemsMobile {
        position: relative;
        color: #050505;
    }
    
    .formInputMobile {
        width: 100%;
        background: none;
        color: #212121;
        font-size: 1rem;
        border: none;
        outline: none;
        border-bottom: 1px solid #050505;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        padding: .3em;
        margin: 1em 0;
    }
    
    .formSubmitMobile {
        background: #212121;
        color: #F2F3F4;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        padding: .8em 0;
        border: none;
        border-radius: 5px;
        margin-top: 1em;
    }

}

/*--------------------desktop--------------------*/

    /*---------------------GENERAL---------------------*/

    @media (min-width:1024px) {    
    
    #body {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: "header"
                              "main"
                             "footer";
       background-color: #F2F3F4;
       min-height: 100vh;
    }


    header {
        grid-area: header;
        width: 100%;
        display: flex;
        align-items: center;
        height: 6em;
        flex-wrap: wrap;
        background-color: #F2F3F4; 
    }
    
    .headerMobile {
        display: none;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 5em;
        font-family: 'Abel', sans-serif;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #212121;
        font-size: 2em;
    }
    
    main {
        width: 100%;
        grid-area: main;
    }
    
    footer {
        grid-area: footer;
        display: flex;
        padding: 1em 0 1em 0;
        margin: auto;
        width: 100%;
        color:	#F2F3F4;
        text-decoration: none;
        font-family: 'Abel', sans-serif;
        background-color: #050505;
    }

    footer section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer section p {
        align-self: center;
        font-size: 20px;
    }
    
    .socialMedia{
        display: flex;
        align-items: center;
        list-style: none;
    }

    footer section div a {
        text-decoration: none;
        display: block;
        border-radius: 5px;
    }

    .icono {
        font-size: 50px;
        color:	#F2F3F4;
        align-self: center;
        padding: 0 .5em;
        margin: .5em 0;
    }

    :root {
        --instagram: #e4405f;
        --whatsApp: #00BB2D;
        --faceboock: #3b5999;
    }

 
    
    /*---------------------INICIO---------------------*/
    
    
    .hero {
        background-image: url("../img/Espalda.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        background-color: #050505;
    
    }
    
    h1 {
        color: #F2F3F4;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        margin-top: 2em;
        font-weight: 10;
    }
    
    
    .atajos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: ". atajoEventos atajoGaleria ."
                              ". atajoServicios atajoContacto .";
        gap: 10px;
        margin-bottom: 2em;
        background-color: #050505;
    }
    
    .atajoFigure {
        cursor: pointer;
        position: relative;
    }

    .capa {
        position: absolute;
        top: 0;
        width: 500px;
        height: 500px;
        background: rgba(99, 111, 114, 0.6);
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }

    .atajoFigure:hover> .capa {
        opacity: 1;
        visibility: visible;
    }

    .atajoFigure:hover> .capa h4 {
        margin-top: 220px;
        color: #F2F3F4;
        font-family: 'Roboto', sans-serif; 
        font-size: 40px;
    }

    .imgAtajo {
        background-color: #212121; 
        width: 500px;
        height: 500px;
    }
    
    #atajoEventos {
        grid-area: atajoEventos;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    #atajoGaleria {
        grid-area: atajoGaleria;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    #atajoServicios {
        grid-area: atajoServicios;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    #atajoContacto {
        grid-area: atajoContacto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /*---------------------BIOGRAFIA---------------------*/

   /* (todavia estoy trabajando esta area)*/
   
    .conteinerBiografia{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "textoBiografia fotoBiografia"
                             "textoBiografia fotoBiografia";
        position: absolute;
        margin: auto;
        width: 90%; 
        height: 60%;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background-color: #F2F3F4;
        max-width: 600px;
        padding: 4em 3em;
        border-radius: 5px;
        background: #e0e0e0;
        box-shadow:  20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    }

    .textoBiografia {
        grid-area: textoBiografia;
    }

    .imgBiografia {
        grid-area: fotoBiografia;
        
    } 

    /*---------------------CONTACTO---------------------*/
    
    .formMobile{
        display: none;
    }
    .form {
        display: block;
        position: absolute;
        margin: auto;
        width: 90%; 
        height: 60%;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background-color: #F2F3F4;
        max-width: 450px;
        padding: 4em 3em;
        border-radius: 5px;
        background: #e0e0e0;
        box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    }
    
    .formTitle {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        font-weight: 800;
    }
    
    .formContainer {
        margin-top: 2em;
        display: grid;
        gap: 1em;
    }
    
    .formItems {
        position: relative;
        color: #050505;
    }
    
    .formInput {
        width: 100%;
        background: none;
        color: #212121;
        font-size: 1rem;
        
        border: none;
        outline: none;
        border-bottom: 1px solid #050505;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        padding: .3em;
        margin: 1em 0;
    }
    
    .formSubmit {
        background: #212121;
        color: #F2F3F4;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: 650;
        padding: .5em 0;
        border: none;
        border-radius: 5px;
        margin-top: 2em;
    }

}