@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-family: "Abel", sans-serif;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

.text-h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.text-h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

.text-h3 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
}

.text-p {
  font-size: 1rem;
  font-weight: 250;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-family: "Abel", sans-serif;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

header .navbar {
  background-color: #050505;
  padding: 0;
}
header .navbar .container-fluid {
  padding: 0;
  background-color: #050505;
}
header .navbar .navbar-toggler {
  background-color: #424949;
}
header #navbarNav {
  justify-content: center;
  margin: 0 0 5px 0;
  padding: 0;
  background-color: #050505;
}
header #navbarNav li {
  font-size: 25px;
  font-weight: 300;
  padding: 0 10px 0 10px;
}
header #navbarNav li a {
  color: #F2F3F4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-family: "Abel", sans-serif;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

.footer {
  background-color: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #F2F3F4;
  text-decoration: none;
  position: absolute;
  width: 100%;
}
.footer__h2 {
  margin-top: 10px;
}
.footer__p {
  font-size: "h1" 2.5rem 600 1.5, "h2" 2rem 300 1.5, "h3" 1rem bold 1.5, "p" 1rem 250;
}
.footer__iconos {
  list-style: none;
}
.footer__iconos a {
  text-decoration: none;
}
.footer__iconos a .icono {
  font-size: 30px;
  color: #F2F3F4;
  padding: 0 0.5em;
  margin-bottom: 0.3em;
}
.footer__iconos a i:hover {
  color: #424949;
}

.hero {
  background-image: url("../img/Espalda.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #050505;
  margin-bottom: 2em;
}
@media (max-width: 480px) {
  .hero {
    height: 60vh;
  }
}
.hero h1 {
  color: #F2F3F4;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 50;
  margin-top: 2em;
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 50px;
    font-weight: 300;
  }
}
@media (max-width: 480px) {
  .hero h1 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 0.5em;
  }
}

.container_atajos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
@media (max-width: 768px) {
  .container_atajos {
    flex-direction: column;
    align-items: center;
  }
}
.container_atajos .atajo {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}
.container_atajos .atajo__figure {
  cursor: pointer;
  position: relative;
}
.container_atajos .atajo__figure .atajo__figure-capa {
  position: absolute;
  top: 0;
  width: 400px;
  height: 400px;
  background: rgba(56, 61, 63, 0.6);
  opacity: 0;
  visibility: hidden;
  align-items: center;
}
@media (max-width: 768px) {
  .container_atajos .atajo__figure .atajo__figure-capa {
    width: 250px;
    height: 250px;
    visibility: visible;
    opacity: inherit;
    background: #050505;
  }
  .container_atajos .atajo__figure .atajo__figure-capa h3 {
    text-align: center;
    margin-top: 100px;
    color: #F2F3F4;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 100;
  }
}
.container_atajos .atajo__figure .atajo__figure-img {
  background-color: #050505;
  width: 400px;
  height: 400px;
  align-items: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .container_atajos .atajo__figure .atajo__figure-img {
    width: 250px;
    height: 250px;
  }
}

.atajo__figure:hover > .atajo__figure-capa {
  opacity: 1;
  visibility: visible;
}

.atajo__figure:hover > .atajo__figure-capa h3 {
  text-align: center;
  margin-top: 170px;
  color: #F2F3F4;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .atajo__figure:hover > .atajo__figure-capa h3 {
    margin-top: 60px;
    font-size: 20px;
    color: #CCD1D1;
  }
}
@media (max-width: 480px) {
  .atajo__figure:hover > .atajo__figure-capa h3 {
    margin-top: 50px;
    font-size: 25px;
  }
}

.form {
  display: block;
  margin: auto;
  margin-top: 100px;
  height: 70%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #F2F3F4;
  max-width: 450px;
  padding: 4em 3em;
  border-radius: 5px;
  box-shadow: 20px 20px 60px #CCD1D1, -20px -20px 60px #ffffff;
}
.form .formTitle {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
.form .formContainer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.form .formContainer .formItems {
  position: relative;
  color: #050505;
}
.form .formContainer .formItems .formInput {
  width: 100%;
  background: none;
  color: #212121;
  border: none;
  outline: none;
  border-bottom: 1px solid #050505;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 0.3em;
  margin: 1em 0;
}
.form .formContainer .formSubmit {
  background: #212121;
  color: #F2F3F4;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5em 0;
  border: none;
  border-radius: 5px;
  margin-top: 1em;
}

.conteinerBiografia {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "textoBiografia fotoBiografia" "textoBiografia fotoBiografia";
  margin: auto;
  margin-top: 100px;
  width: 90%;
  height: 60%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #F2F3F4;
  max-width: 600px;
  padding: 4em 3em;
  border-radius: 5px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  gap: 30px;
}
.conteinerBiografia .textoBiografia {
  grid-area: textoBiografia;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.conteinerBiografia .imgBiografia {
  grid-area: fotoBiografia;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .conteinerBiografia {
    grid-template-areas: "fotoBiografia fotoBiografia" "textoBiografia textoBiografia";
    padding: 1em 1em;
    min-height: 600px;
  }
  .conteinerBiografia .textoBiografia {
    margin: 20px 10px 30px 20px;
  }
  .conteinerBiografia .imgBiografia {
    margin: 10px 0 0 170px;
  }
}
@media (max-width: 480px) {
  .conteinerBiografia .imgBiografia {
    margin: 10px 0 0 100px;
  }
}

#galeria {
  margin-bottom: 100px;
}
#galeria h1 {
  font-family: "Roboto", sans-serif;
}
#galeria img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
#galeria .col-lg-4 {
  margin: 0;
  padding: 25px;
  transition: 0.5 all ease-in-out;
}
#galeria img:hover {
  transform: scale(1.5);
}/*# sourceMappingURL=nueva.css.map */