@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-family: "Abel", sans-serif;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

.text-h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.text-h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

.text-h3 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
}

.text-p {
  font-size: 1rem;
  font-weight: 250;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-family: "Abel", sans-serif;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

.navbar-light {
  background-color: #050505;
  padding: 0;
}
.navbar-light .container-fluid {
  padding: 0;
}

#navbarNav {
  justify-content: center;
  margin: 0 0 5px 0;
  padding: 0;
  background-color: #050505;
}
#navbarNav li {
  font-size: 25px;
  font-weight: 100;
  padding: 0 10px 0 10px;
}
#navbarNav li a {
  color: #F2F3F4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-family: "Abel", sans-serif;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

.footer {
  background-color: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #F2F3F4;
  text-decoration: none;
  position: absolute;
  width: 100%;
}
.footer__h2 {
  margin-top: 10px;
}
.footer__p {
  font-size: "h1" 2.5rem 600 1.5, "h2" 2rem 300 1.5, "h3" 1rem bold 1.5, "p" 1rem 250;
}
.footer__iconos {
  list-style: none;
}
.footer__iconos a {
  text-decoration: none;
}
.footer__iconos a .icono {
  font-size: 30px;
  color: #F2F3F4;
  padding: 0 0.5em;
  margin-bottom: 0.3em;
}
.footer__iconos a i:hover {
  color: #424949;
}

.hero {
  background-image: url("../img/Espalda.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  background-color: #050505;
}
@media (max-width: 768px) {
  .hero {
    background-size: contain;
    height: 40vh;
  }
}
.hero h1 {
  color: #F2F3F4;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  margin-top: 2em;
  font-weight: 10;
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 35px;
    font-weight: 10;
  }
}

.container_atajos {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .container_atajos {
    flex-direction: column;
    align-items: center;
  }
}
.container_atajos .atajo {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}
.container_atajos .atajo__figure {
  cursor: pointer;
  position: relative;
}
.container_atajos .atajo__figure .atajo__figure-capa {
  position: absolute;
  top: 0;
  width: 400px;
  height: 400px;
  background: rgba(99, 111, 114, 0.6);
  opacity: 0;
  visibility: hidden;
  align-items: center;
}
@media (max-width: 768px) {
  .container_atajos .atajo__figure .atajo__figure-capa {
    position: absolute;
    width: 250px;
    height: 250px;
    background: rgba(99, 111, 114, 0.6);
    opacity: 0;
    visibility: hidden;
    align-items: center;
  }
}
.container_atajos .atajo__figure .atajo__figure-img {
  background-color: #050505;
  width: 400px;
  height: 400px;
  align-items: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .container_atajos .atajo__figure .atajo__figure-img {
    background-color: #050505;
    width: 250px;
    height: 250px;
    align-items: center;
    align-items: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
}

.atajo__figure:hover > .atajo__figure-capa {
  opacity: 1;
  visibility: visible;
}

.atajo__figure:hover > .atajo__figure-capa h3 {
  text-align: center;
  margin-top: 180px;
  color: #F2F3F4;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}
@media (max-width: 768px) {
  .atajo__figure:hover > .atajo__figure-capa h3 {
    text-align: center;
    margin-top: 110px;
    color: #F2F3F4;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
}

/*---------------------CONTACTO MOBILE---------------------*/
@media screen and (max-width: 480px) {
  .form {
    display: none;
  }

  .formMobile {
    display: block;
    position: absolute;
    margin: auto;
    width: 90%;
    height: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #F2F3F4;
    max-width: 300px;
    padding: 2em 1em;
    border-radius: 5px;
  }
  .formMobile .formTitleMobile {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 0.8em;
  }
  .formMobile .formContainerMobile {
    margin-top: 1em;
    display: grid;
    gap: 0.8em;
  }
  .formMobile .formContainerMobile .formItemsMobile {
    position: relative;
    color: #050505;
  }
  .formMobile .formContainerMobile .formItemsMobile .formInputMobile {
    width: 100%;
    background: none;
    color: #212121;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #050505;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding: 0.3em;
    margin: 1em 0;
  }
  .formMobile .formContainerMobile .formSubmitMobile {
    background: #212121;
    color: #F2F3F4;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8em 0;
    border: none;
    border-radius: 5px;
    margin-top: 1em;
  }
}
/*---------------------CONTACTO DESKTOP---------------------*/
@media (min-width: 1024px) {
  .formMobile {
    display: none;
  }

  .form {
    display: block;
    position: absolute;
    margin: auto;
    width: 90%;
    height: 60%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #F2F3F4;
    max-width: 450px;
    padding: 4em 3em;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }
  .form .formTitle {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 800;
  }
  .form .formContainer {
    margin-top: 2em;
    display: grid;
    gap: 1em;
  }
  .form .formContainer .formItems {
    position: relative;
    color: #050505;
  }
  .form .formContainer .formItems .formInput {
    width: 100%;
    background: none;
    color: #212121;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #050505;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding: 0.3em;
    margin: 1em 0;
  }
  .form .formContainer .formSubmit {
    background: #212121;
    color: #F2F3F4;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 650;
    padding: 0.5em 0;
    border: none;
    border-radius: 5px;
    margin-top: 2em;
  }
}
.conteinerBiografia {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "textoBiografia fotoBiografia" "textoBiografia fotoBiografia";
  position: absolute;
  margin: auto;
  width: 90%;
  height: 60%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #F2F3F4;
  max-width: 600px;
  padding: 4em 3em;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.conteinerBiografia .textoBiografia {
  grid-area: textoBiografia;
}
.conteinerBiografia .imgBiografia {
  grid-area: fotoBiografia;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .conteinerBiografia {
    grid-template-areas: "fotoBiografia fotoBiografia" "textoBiografia textoBiografia";
    padding: 1em 1em;
    min-height: 600px;
  }
  .conteinerBiografia .textoBiografia {
    margin: 20px 10px 30px 20px;
  }
  .conteinerBiografia .imgBiografia {
    margin: 10px 0 0 170px;
  }
}/*# sourceMappingURL=nueva.css.map */