@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
}

.margin {
  max-width: 1150px;
  margin: 0 auto;
}

#body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  grid-template-areas: "header" "main" "footer";
  background-color: #050505;
  min-height: 100vh;
}

header {
  grid-area: header;
  width: 100%;
  display: flex;
  align-items: center;
  height: 6em;
  flex-wrap: wrap;
  background-color: #F2F3F4;
}

main {
  width: 100%;
  grid-area: main;
}

footer {
  grid-area: footer;
  display: flex;
  padding: 1em 0 1em 0;
  margin: auto;
  width: 100%;
  color: #F2F3F4;
  text-decoration: none;
  font-family: "Abel", sans-serif;
  background-color: #050505;
}
footer section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer section p {
  align-self: center;
  font-size: 20px;
}
footer section .socialMedia {
  display: flex;
  align-items: center;
  list-style: none;
}
footer section .socialMedia a {
  text-decoration: none;
  display: block;
  border-radius: 5px;
}
footer section .socialMedia a .icono {
  font-size: 50px;
  color: #F2F3F4;
  align-self: center;
  padding: 0 0.5em;
  margin: 0.5em 0;
}

/*--------------------just mobile--------------------*/
@media screen and (max-width: 480px) {
  #body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: "header" "main" "footer";
    background-color: #050505;
    min-height: 100vh;
  }

  .headerMobile {
    grid-area: header;
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #F2F3F4;
  }
  .headerMobile .menuMobile {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: "Abel", sans-serif;
  }
  .headerMobile .menuMobile a {
    text-decoration: none;
    color: #212121;
    font-size: 1em;
  }

  .headerDesktop {
    display: none;
  }
}
/*-------------------just desktop--------------------*/
@media (min-width: 1024px) {
  #body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: "header" "main" "footer";
    background-color: #F2F3F4;
    min-height: 100vh;
  }

  header {
    grid-area: header;
    width: 100%;
    display: flex;
    align-items: center;
    height: 6em;
    flex-wrap: wrap;
    background-color: #F2F3F4;
  }
  header ul {
    list-style: none;
    display: flex;
    gap: 5em;
    font-family: "Abel", sans-serif;
  }
  header ul a {
    text-decoration: none;
    color: #212121;
    font-size: 2em;
  }

  main {
    width: 100%;
    grid-area: main;
  }

  footer {
    grid-area: footer;
    display: flex;
    padding: 1em 0 1em 0;
    margin: auto;
    width: 100%;
    color: #F2F3F4;
    text-decoration: none;
    font-family: "Abel", sans-serif;
    background-color: #050505;
  }
  footer section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer section p {
    align-self: center;
    font-size: 20px;
  }
  footer section .socialMedia {
    display: flex;
    align-items: center;
    list-style: none;
  }
  footer section .socialMedia a {
    text-decoration: none;
    display: block;
    border-radius: 5px;
  }
  footer section .socialMedia a .icono {
    font-size: 50px;
    color: #F2F3F4;
    align-self: center;
    padding: 0 0.5em;
    margin: 0.5em 0;
  }

  .headerMobile {
    display: none;
  }
}
/*mobile*/
@media screen and (max-width: 480px) {
  .mainDesktop {
    display: none;
  }
}
/*desktop*/
@media (min-width: 1024px) {
  .hero {
    background-image: url("../img/Espalda.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    background-color: #050505;
  }
  .hero h1 {
    color: #F2F3F4;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    margin-top: 2em;
    font-weight: 10;
  }

  .atajos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". atajoEventos atajoGaleria ." ". atajoServicios atajoContacto .";
    gap: 10px;
    margin-bottom: 2em;
    background-color: #050505;
  }
  .atajos .atajoFigure {
    cursor: pointer;
    position: relative;
  }
  .atajos .atajoFigure .capa {
    position: absolute;
    top: 0;
    width: 500px;
    height: 500px;
    background: rgba(99, 111, 114, 0.6);
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }
  .atajos .atajoFigure .imgAtajo {
    background-color: #212121;
    width: 500px;
    height: 500px;
  }

  .atajoFigure:hover > .capa {
    opacity: 1;
    visibility: visible;
  }

  .atajoFigure:hover > .capa h4 {
    margin-top: 220px;
    color: #F2F3F4;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
  }

  #atajoEventos {
    grid-area: atajoEventos;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #atajoGaleria {
    grid-area: atajoGaleria;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #atajoServicios {
    grid-area: atajoServicios;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #atajoContacto {
    grid-area: atajoContacto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
/*---------------------CONTACTO MOBILE---------------------*/
@media screen and (max-width: 480px) {
  .form {
    display: none;
  }

  .formMobile {
    display: block;
    position: absolute;
    margin: auto;
    width: 90%;
    height: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #F2F3F4;
    max-width: 300px;
    padding: 2em 1em;
    border-radius: 5px;
  }
  .formMobile .formTitleMobile {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 0.8em;
  }
  .formMobile .formContainerMobile {
    margin-top: 1em;
    display: grid;
    gap: 0.8em;
  }
  .formMobile .formContainerMobile .formItemsMobile {
    position: relative;
    color: #050505;
  }
  .formMobile .formContainerMobile .formItemsMobile .formInputMobile {
    width: 100%;
    background: none;
    color: #212121;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #050505;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding: 0.3em;
    margin: 1em 0;
  }
  .formMobile .formContainerMobile .formSubmitMobile {
    background: #212121;
    color: #F2F3F4;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8em 0;
    border: none;
    border-radius: 5px;
    margin-top: 1em;
  }
}
/*---------------------CONTACTO DESKTOP---------------------*/
@media (min-width: 1024px) {
  .formMobile {
    display: none;
  }

  .form {
    display: block;
    position: absolute;
    margin: auto;
    width: 90%;
    height: 60%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #F2F3F4;
    max-width: 450px;
    padding: 4em 3em;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }
  .form .formTitle {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 800;
  }
  .form .formContainer {
    margin-top: 2em;
    display: grid;
    gap: 1em;
  }
  .form .formContainer .formItems {
    position: relative;
    color: #050505;
  }
  .form .formContainer .formItems .formInput {
    width: 100%;
    background: none;
    color: #212121;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #050505;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding: 0.3em;
    margin: 1em 0;
  }
  .form .formContainer .formSubmit {
    background: #212121;
    color: #F2F3F4;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 650;
    padding: 0.5em 0;
    border: none;
    border-radius: 5px;
    margin-top: 2em;
  }
}
/*---------------------BIOGRAFIA---------------------*/
/* (todavia estoy trabajando esta area)*/
@media (min-width: 1024px) {
  .conteinerBiografia {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "textoBiografia fotoBiografia" "textoBiografia fotoBiografia";
    position: absolute;
    margin: auto;
    width: 90%;
    height: 60%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #F2F3F4;
    max-width: 600px;
    padding: 4em 3em;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }
  .conteinerBiografia .textoBiografia {
    grid-area: textoBiografia;
  }
  .conteinerBiografia .imgBiografia {
    grid-area: fotoBiografia;
  }
}/*# sourceMappingURL=nueva.css.map */